@charset "utf-8";
/* CSS Document */

.gridBody{
	grid-template-areas: "leF usB riF";
	grid-template-columns: 10% 80% 10%;
	display: grid;
	height: 100%;	
	width: 100%;
}
.leftFrame{
	background-image: url('../images/layout/leftFrame.png');
	background-color: rgba(256, 256, 256, 0.45);
	background-repeat: repeat-y;
	background-position: right;
	grid-area: leF;
}
.rightFrame{
	background-image: url('../images/layout/rightFrame.png');
	background-color: rgba(256, 256, 256, 0.45);
	background-repeat: repeat-y;
	background-position: left;
	grid-area: riF;
}
.usefulBody{background-color: rgba(256, 256, 256, 0.85); grid-area: usB;}
.header{}
.banner{}
.navBarr{}
.content{}
.leftColumn{}
.rightColumn{}
